<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <connectionStrings>
    <add name="SQL_SEBRAE" connectionString="Persist Security Info=True;User ID=usrneganeg;Pwd=usrneganegpwd;Initial Catalog=SEBRAE_DESENV;Data Source=10.24.4.87;Connect Timeout=60;" providerName="System.Data.SqlClient"/>
  </connectionStrings>

</configuration>