################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################
/PesquisaDeEfetividade/bin
/PesquisaDeEfetividade/obj
/PesquisaDeEfetividade/bin/Debug/PesquisaDeEfetividade.sql
